/* imports */
@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap') format('woff2');
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body { 
    width: 100vw;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    color: white;
}

span, p, label, strong, em {
    font-family: 'Roboto', sans-serif;
    color: white;
}
